@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* 設定地圖樣式 */
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

/* 滾動條樣式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: rgba(100, 100, 100, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border-radius: 2em;
  background: rgba(100, 100, 100, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(100, 100, 100, 0.8);
}

.thick-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
